[submodule "libraries/freetype"]
	path = libraries/freetype
	url = https://github.com/freetype/freetype.git
[submodule "libraries/platypus-proto"]
	path = libraries/platypus-proto
	url = git@github.com:zoey-ada/platypus-proto.git
	branch = entity
[submodule "libraries/utf8-cpp"]
	path = libraries/utf8-cpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "libraries/libzip"]
	path = libraries/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "libraries/zlib"]
	path = libraries/zlib
	url = https://github.com/madler/zlib.git
[submodule "libraries/assimp"]
	path = libraries/assimp
	url = https://github.com/assimp/assimp.git
[submodule "libraries/catch"]
	path = libraries/catch
	url = https://github.com/catchorg/Catch2.git
	branch = "v2.x"
